doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title 文章信息展示
        link(rel='stylesheet', type='text/css', href='./css/index.css')
    body
        .wrap
            ul.news-list
                each val in newsData
                    li.news
                        a(href='javascript:;')
                            img(src=val.imgUrl, alt='')
                        div
                            h3
                                a(href='/detail?id=' + val.id) #{val.title}
                            .info
                                span.tips
                                    span #{val.country}
                                span.time |   #{val.addTime}
            .pagination
                a.prev(href='javascript:;') ⌜
                - for(let i=1;i<=pCount;i++)
                    a(href='javascript:;') #{i}
                a.next(href='javascript:;') ⌝